@keyframes load {
  to {
    opacity: 1;
  }
}

.container {
  @apply fixed z-20 flex h-screen w-screen touch-none items-center justify-evenly bg-gradient-to-br from-black via-slate-900 to-black px-4 py-16;
}

.phone {
  @apply h-40 w-40 opacity-0;
  animation: load 0.5s forwards ease-in 0.25s;
}

.text {
  @apply w-1/2 text-4xl opacity-0;
  animation: load 0.5s forwards ease-in 0.5s;
}
