@keyframes load {
  to {
    opacity: 1;
  }
}

.container {
  @apply flex h-[calc(100vh-3.5rem)] w-screen flex-col items-center justify-evenly py-12 md:h-[calc(100vh-4rem)] md:flex-row;
}

.photo {
  @apply aspect-square w-4/6 overflow-hidden rounded-lg opacity-0 md:w-1/4;
  animation: load 1s forwards ease-in;
}

.text {
  @apply flex h-32 flex-col items-center justify-between md:h-[calc(25vw)] md:items-start md:py-16;
}

.name {
  @apply font-dancing text-7xl opacity-0 md:text-[10rem];
  animation: load 1s forwards ease-in 0.5s;
}

.caption {
  @apply text-2xl opacity-0 md:text-5xl;
  animation: load 1s forwards ease-in 0.75s;
}

.contact {
  @apply w-[60vw] rounded-xl border border-gray-500 p-2 text-center text-xl font-thin opacity-0 transition duration-200 md:absolute md:top-24 md:right-16 md:w-auto md:hover:bg-white md:hover:text-slate-900;
  animation: load 1s forwards ease-in 1s;
}
