@keyframes modal-animation {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.container {
  @apply fixed z-10 h-screen w-screen bg-opacity-80;
  animation: modal-animation 0.2s;
}

.hiddenContainer {
  @apply hidden;
}

.modal {
  @apply fixed top-0 right-0 m-2 flex w-full max-w-xs flex-col justify-between rounded-xl bg-slate-800 p-4;
}

.close {
  @apply absolute top-0 right-0 m-2 bg-transparent;
}

.activeTab {
  @apply pointer-events-none m-4 w-fit bg-transparent text-4xl;
}

.tab {
  @apply m-4 w-fit bg-transparent text-4xl text-gray-500;
}
