@keyframes load {
  to {
    opacity: 1;
  }
}

.cardCommon {
  @apply flex aspect-video items-center justify-center rounded-xl border bg-black bg-opacity-40 text-4xl font-thin opacity-0 transition duration-200 md:text-7xl md:hover:bg-white md:hover:text-slate-900;
}

.container {
  @apply flex flex-col items-center px-12 py-4 md:px-36 md:py-12;
}

.title {
  @apply py-4 text-5xl opacity-0 md:pb-16 md:text-8xl;
  animation: load 1s forwards ease-in;
}

.cardContainer {
  @apply my-8 grid w-[calc(75vw)] grid-cols-1 gap-6 md:w-[calc(60vw)] md:grid-cols-2;
}

.card1 {
  @apply cardCommon;
  animation: load 1s forwards ease-in 0.5s;
}

.card2 {
  @apply cardCommon;
  animation: load 1s forwards ease-in 0.75s;
}

.card3 {
  @apply cardCommon;
  animation: load 1s forwards ease-in 1s;
}

.card4 {
  @apply cardCommon;
  animation: load 1s forwards ease-in 1.25s;
}
